.player {
    background: transparent url("/images/spr.png") no-repeat scroll center top;
    height: 162px;
    position: relative;
    width: 326px;
    z-index: 2;
}
.myplayer {
    height: 162px;
    position: relative;
    width: 326px;
    z-index: 2;
    margin: 15px auto;
}
.title {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    /*top: 23px;*/
    width: 250px;
    display: inline-block;
}
.myplayer .play, .myplayer .pause, .myplayer .rew, .myplayer .fwd {
    background: transparent url("/images/spr.png") no-repeat scroll 0 0;
    float: left;
    height: 100%;
    /*width: 33%;*/
    width: 50px;
}
.playpouse {
    display: block;
    margin: 0 auto;
}
.myplayer .play {
    background-position: -8px -171px;
}
.myplayer .pause {
    background-position: -8px -198px;
    display: none;
}
.myplayer .rew {
    background-position: -54px -171px;
}
.myplayer .fwd {
    background-position: -100px -171px;
}
.myplayer .play:hover {
    background-position: -8px -170px;
}
.myplayer .pause:hover {
    background-position: -8px -197px;
}
.myplayer .rew:hover {
    background-position: -54px -170px;
}
.myplayer .fwd:hover {
    background-position: -100px -170px;
}
.hidden {
    display: none;
}
.myplayer .visible {
    display: block;
}
.volume {
    height: 11px;
    left: 186px;
    position: absolute;
    top: 96px;
    width: 112px;
}
.tracker {
    height: 15px;
    left: 20px;
    position: absolute;
    top: 126px;
    width: 285px;
}
.ui-slider-range {
    background: transparent url("/images/spr.png") no-repeat scroll 5px -222px;
    height: 100%;
    position: absolute;
    top: 0;
}
.ui-slider-handle {
    cursor: pointer;
    height: 10px;
    margin-left: -5px;
    position: absolute;
    top: 2px;
    width: 10px;
    z-index: 2;
}
.volume .ui-slider-handle {
    background: url("/images/spr.png") no-repeat scroll -201px -188px rgba(0, 0, 0, 0);
    height: 13px;
    width: 13px;
}